<div class="container">
  <p>Nous mettons à votre disposition nos compétences afin de vous accompagner sur l'ensemble des prestations proposées ci-après.</p>

  <div class="grid">
    <div class="listePrestation" fxLayout="row" fxLayoutGap="100px" fxLayoutAlign="center">
      <div class="grid" *ngFor="let categorie of categories">
        <div class="nomCategorie">{{categorie}}</div>
          <div class="sousCategorie" *ngFor="let prestation of prestations">
            <div class="detail" *ngIf="prestation.categorie === categorie">{{prestation.intitule}}
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
