<div class="contains">
  <div class="buttons" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="flex-start" fxHide.sm="true" fxHide.xs="true">

    <button mat-raised-button class="creation" (click)="openDialog(false)" >
      <mat-icon class="add">add</mat-icon>
      Créer un nouveau client
    </button><div class="mat-elevation-z2">
      <input class="rechercheInput" matInput type="text" [(ngModel)]="searchBy">
      <mat-icon class="search" (click)="search()">search</mat-icon>
    </div>
  </div>

  <!-- pour les écran <960px-->
  <div class="buttons" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center" fxHide.gt-sm="true" fxHide.xs="true">
    <div class="mat-elevation-z2" fxLayoutAlign="start center">
      <mat-icon class="add">add_circle</mat-icon>
      <mat-icon class="update" (click)="openDialog(true, client)">edit</mat-icon>
      <mat-icon class="delete"(click)="openDialogDelete(client)">delete</mat-icon>
      <input class="rechercheInput" matInput type="text" [(ngModel)]="searchBy">
      <mat-icon class="search" (click)="search()">search</mat-icon>
    </div>
  </div>

  <div class="buttons" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center" fxHide.gt-xs="true">
    <div class="mat-elevation-z2" fxLayoutAlign="start center">
      <input class="rechercheInput" matInput type="text" [(ngModel)]="searchBy">
      <mat-icon class="search" (click)="search()">search</mat-icon>
    </div>
  </div>

  <table mat-table [dataSource]="this.clients" *ngIf="clients && clients.length"fxHide.xs="true" fxHide.sm="true">

    <!-- Nom Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let client"> {{client.nom}}</td>
    </ng-container>

    <!-- Prenom -->
    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef>Prénom</th>
      <td mat-cell *matCellDef="let client">{{client.prenom}} </td>
    </ng-container>

    <!-- Adresse Column -->
    <ng-container matColumnDef="adresse">
      <th mat-header-cell *matHeaderCellDef>Adresse</th>
      <td mat-cell
          *matCellDef="let client"> {{client.adresse}} {{client.codePostal}} {{client.ville | titlecase}}</td>
    </ng-container>

    <!-- Telephone Column -->
    <ng-container matColumnDef="telephone">
      <th mat-header-cell *matHeaderCellDef>Téléphone</th>
      <td mat-cell *matCellDef="let client"> {{client.telephone}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let client"> {{client.email}} </td>
    </ng-container>

    <!-- Ref devis Column -->
    <ng-container matColumnDef="refDevis">
      <th mat-header-cell *matHeaderCellDef>Ref devis</th>
      <td mat-cell *matCellDef="let client"> {{client.refDevis}} </td>
    </ng-container>

    <!-- Ref facture Column -->
    <ng-container matColumnDef="refFacture">
      <th mat-header-cell *matHeaderCellDef>Ref facture</th>
      <td mat-cell *matCellDef="let client"> {{client.refFacture}} </td>
    </ng-container>

    <!-- Update Column -->
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef>Modifier</th>
      <td mat-cell class="update" *matCellDef="let client">
        <mat-icon class="update" (click)="openDialog(true, client)">edit</mat-icon>
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Supprimer</th>
      <td mat-cell class="delete" *matCellDef="let client">
        <mat-icon class="delete" (click)="openDialogDelete(client)">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
  </table>


  <table mat-table [dataSource]="this.clients"*ngIf="clients && clients.length" fxHide.xs="true" fxHide.gt-sm="true">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
          color="primary">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)"
                      color="primary">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Nom Column -->
    <ng-container matColumnDef="nomPrenom">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let client"> {{client.nom}} {{client.prenom}} </td>
    </ng-container>

    <!-- Adresse Column -->
    <ng-container matColumnDef="adresse">
      <th mat-header-cell *matHeaderCellDef>Adresse</th>
      <td mat-cell
          *matCellDef="let client"> {{client.adresse}} {{client.codePostal}} {{client.ville}}</td>
    </ng-container>

    <!-- Telephone Column -->
    <ng-container matColumnDef="telephone">
      <th mat-header-cell *matHeaderCellDef>Téléphone</th>
      <td mat-cell *matCellDef="let client"> {{client.telephone}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let client"> {{client.email}} </td>
    </ng-container>

    <!-- Ref devis Column -->
    <ng-container matColumnDef="refDevis">
      <th mat-header-cell *matHeaderCellDef>Ref devis</th>
      <td mat-cell *matCellDef="let client"> {{client.refDevis}} </td>
    </ng-container>

    <!-- Ref facture Column -->
    <ng-container matColumnDef="refFacture">
      <th mat-header-cell *matHeaderCellDef>Ref facture</th>
      <td mat-cell *matCellDef="let client"> {{client.refFacture}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsXs"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsXs;"
        (click)="selection.toggle(row)">
    </tr>
  </table>
</div>


<!--pour les écrans<600px-->
<div class="accordeon" fxHide.gt-xs="true">
  <mat-accordion class="headers-align" multi *ngFor="let client of clients">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{client.nom}} {{client.prenom}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="icons" fxLayoutAlign="end center">
<!--        <mat-icon class="add">add_circle</mat-icon>-->
        <mat-icon class="update" (click)="openDialog(true, client)">edit</mat-icon>
        <mat-icon class="delete"(click)="openDialogDelete(client)">delete</mat-icon>
      </div>
      <p>
        {{client.adresse}}
        <br/>{{client.codePostal}} {{client.ville}}</p>
      <p>{{client.telephone}}
        <br/>{{client.email}}</p>
      <p>{{client.refDevis}} {{client.refFacture}}</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

