<!--<mat-form-field fxShow.xs="true">-->
<!--<mat-label>Projets</mat-label>-->
<!--<mat-select (selectionChange)="onTypesChange($event)" [formControl]="types">-->
<!--  <mat-option [value]="item" *ngFor="let item of typeList">{{item.libelle}}</mat-option>-->
<!--</mat-select>-->
<!--</mat-form-field>-->

<div class="menu-filtre">
  <button mat-flat-button (click)="onClickTypes($event)" *ngFor="let item of typeList">{{item.libelle}}</button>
  <button mat-flat-button (click)="onClickProjets()">Tous les projets</button>
</div>

