.menu-filtre  {
  display: flex;
  justify-content: center;
  margin: 40px;
}
button{
  font-size: 16px;
}

button:hover{
  opacity: 60%;
}


/***************************/
@media  (max-width: 1000px){
  button{
    font-size: 16px;
  }
}

/***************************/
@media (max-width: 850px){
  button{
    padding: 0 10px 0 10px;
    /*font-size: 14px;*/
  }
}

/***************************/
@media  (max-width: 800px){
  .menu-filtre {
    margin: 20px;
  }

  button{
    font-size: 14px;
  }
}

/***************************/
@media  (max-width: 700px){
  .menu-filtre {
    margin: 15px 8px 15px 8px;
  }

  button{
    font-size: 13px;
  }
}

/****************************************************/

.select-filtre{
  display: flex;
  justify-content: center;
  margin: 20px;
}
