<div class="menu-filtre" fxHide.xs="true">
  <button mat-flat-button (click)="onClickTypes(item)" *ngFor="let item of typeList">{{item.libelle | titlecase}}</button>
  <button mat-flat-button (click)="onClickProjets()">Tous les projets</button>
</div>




<div class="select-filtre" fxHide.gt-xs="true">
<mat-form-field>
  <mat-label>Projets</mat-label>
    <mat-select (selectionChange)="onTypesChange($event)" [formControl]="types">
      <mat-option [value]="item" *ngFor="let item of typeList">{{item.libelle | titlecase}}</mat-option>
      <mat-option value="Tous">Tous les projets</mat-option>
    </mat-select>
</mat-form-field>
</div>
