.card, .mat-card {
  cursor: pointer;
  padding: 0;
  width: 80px;
  height: 100px;
  margin: 0;
  font-size: 13px;
}

.title {
  text-align: center;
  padding: 0;
  margin-top: -7px;
  font-size: 11px;
}

.photo {
  width: 80px;
  height: 85px;
  object-fit: cover;
}

.message {
  border: none;
}
