.container {
  padding-top: 100px;
  margin-bottom: 0px;
  min-height: calc(80vh - 110px);
  /*background-color: whitesmoke ;*/
  /*background: black;*/
  /*background-size: cover;*/
  /*width: 100%;*/
}
