fieldset {
  margin: 50px;
}

legend {
  font-size: 18px;
  margin: 0 40px 0 10px;
  padding: 0 10px 0 10px;
  color: grey;
}

.mat-raised-button.creation {
  margin: 10px 0 30px 0;
  padding: 0;
}

.creation {
  margin-left: 20px;
  width: 18%;
}

.add {
  /*margin-left: 0;*/
  /*padding-left: 0;*/
  font-size: 20px;
}

.mat-elevation-z2 {
  margin: 10px 0 30px 0;
  border-radius: 5px;
  max-width: 300px;
  /*margin-left: auto;*/
  text-align: right;
  width: 100%;
}

.mat-icon.search {
  width: 20px;
  height: 20px;
  margin: 10px 10px 10px 0;
}

input {
  text-align: center;
  border: none;
  height: 30px;
  width: 200px;
  caret-color: white;
  caret: white;
  margin: auto;
  float: left;
  margin-right: auto;
}

.mat-header-cell, .mat-cell {
  margin: 10px;
  padding: 5px;
}

.mat-cell.delete, .mat-cell.update {
  text-align: center;
}

.mat-icon.close {
  font-size: 20px;
}

.mat-icon.update {
  font-size: 20px;
}
