<!--<div class="grid">-->
<!--&lt;!&ndash;  <div class="cardVertical">&ndash;&gt;-->
<!--&lt;!&ndash;    <button mat-button class="detailProfil" [routerLink]="['/detailProfil', admin.login]"></button>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--  <div class="content">-->
<!--    <div class="navTab" fxLayout="" fxLayoutAlign="center center">-->
<!--    <mat-tab-group>-->
<!--      <mat-tab label="Profil">content 1</mat-tab>-->
<!--      <mat-tab label="Projets"> content 2  </mat-tab>-->
<!--      <mat-tab label="Messages"> Content 3 </mat-tab>-->
<!--      <mat-tab label="Clients"> Content 4 </mat-tab>-->
<!--    </mat-tab-group>-->
<!--    </div>-->
<!--    <div class="accueilAdmin">-->
<!--    <h1>Bonjour {{admin.prenom}}</h1>-->
<!--    <p>Bienvenue sur votre profil !<br/> Depuis votre dernière visite vous avez-->
<!--&lt;!&ndash;      <span {{messages.length}}></span> &ndash;&gt;-->
<!--      nouveau.x message.s ou message.s à traiter.</p>-->
<!--      <mat-select>-->
<!--        <mat-option value="profil">Voir mon profil</mat-option>-->
<!--        <mat-option value="profil">Modifier mon profil</mat-option>-->
<!--      </mat-select>-->


<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<mat-drawer-content class="content">
<mat-drawer class="menuAdmin" mode="side" opened>
</mat-drawer>
</mat-drawer-content>


<!--ancien profil-->
<!--<legend>Bonjour {{admin.prenom}} !</legend>-->
<!--<p>Bienvenue sur votre profil !<br> Depuis votre dernière visite vous avez-->
<!--  <span>{{messages.length}}</span>nouveau.x message.s ou message.s à traiter.</p>-->
<!--</div>-->

<!--<div class="detailTAB" fxLayout.lt-md="row" fxLayoutAlign="center center">-->
<!--  <app-card [link]="['/adminProjet', admin.login]" title="Voir mes projets" text="Mes projets"-->
<!--            photo="../../../assets/imagesProjet.jpg"></app-card>-->
<!--  <app-card [link]="['/messages']" title="Voir mes messages" text="Mes messages"-->
<!--            photo="../../../assets/imager_reception_messages_clients.png " *ngIf="messages"-->
<!--            [matBadge]="messages.length" matBadgeOverlap="true"></app-card>-->

<!--  <app-card [link]="['/clients']" title="Voir mes clients" text="Mes clients"-->
<!--            photo="../../../assets/imageclients.jpg "></app-card>-->
<!--  <app-card [link]="['/detailProfil',admin.login]" title="Voir mon profil" text="Mon profil"-->
<!--            [photo]="[admin.photo ]"></app-card>-->
<!--  <app-card [link]="['/ajouterAdmin', admin.login]" title="Ajouter administrateur" text="Ajouter admin"-->
<!--            photo="../../../assets/imageProfil.jpg "></app-card>-->








<!--<div class="container" fxLayout="gt-md" fxLayoutAlign="center center">-->

<!--  <mat-drawer-container class="TAB">-->

<!--    <mat-drawer class="navbar" mode="side" opened>-->
<!--      <div class="title" *ngIf="admin">{{text | titlecase}}</div>-->
<!--&lt;!&ndash;      <div class="bienvenue" *ngIf="admin">{{'Bienvenue ' + admin.prenom + ' !' | titlecase}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;      <img class="photoAdmin" [src]="admin.photo" alt="photo de l'administrateur">&ndash;&gt;-->
<!--      <button mat-button class="titleButton" (click)="showDetails()">{{text}}</button>-->
<!--      <ng-content></ng-content>-->
<!--&lt;!&ndash;      <app-deconnexion></app-deconnexion>&ndash;&gt;-->
<!--    </mat-drawer>-->
<!--  <ng-content></ng-content>-->
<!--  </mat-drawer-container>-->
<!--</div>-->
