/*.grid {*/
/*  display: grid;*/
/*  grid-template-columns: repeat(4, 1fr);*/
/*  grid-template-rows: repeat(6, 80px);*/
/*  !*display: flex;*!*/
/*  !*align-content: center;*!*/
/*  !*justify-content: center;*!*/
/*  padding: 50px 130px 100px 100px;*/


/*}*/

/*.photoAdmin {*/
/*  grid-column: 1/span 1;*/
/*  grid-row: 1;*/
/*  height: 160px;*/
/*  width: 140px;*/
/*  object-fit: cover;*/
/*  border-radius: 100%;*/
/*  margin: 5px 0 0 20px;*/
/*  border: solid 2px lightgrey;*/
/*}*/

/*!*.iconPhoto {*!*/
/*!*  padding-left: 110px;*!*/
/*!*  grid-column: 1/span1;*!*/
/*!*  grid-row: 1;*!*/
/*!*  padding-top: 110px;*!*/
/*!*  !*cursor: pointer;*!*!*/
/*!*  !*border: solid 2px lightgrey;*!*!*/
/*!*  width: 30px ;*!*/
/*!*  height: 30px;*!*/
/*!*}*!*/

/*!*form {*!*/
/*!*  grid-column: 2/span3;*!*/
/*!*  grid-row: 4;*!*/
/*!*}*!*/

/*.mat-form-field {*/
/*  margin: 0 60px 0 50px;*/
/*  font-weight: 700;*/
/*}*/

/*mat-button{*/
/*  padding: 10px 0 0 10px;*/
/*  border: none;*/
/*  color: #17657D;*/
/*  font-size: 12px;*/


/*}*/
/*.statutInactif{*/
/*  grid-column: 1/ span 1;*/
/*  grid-row: 3;*/
/*  text-align: center;*/
/*  padding-top: 20px;*/
/*  }*/

/*.login {*/
/*  grid-column: 2/ span 1;*/
/*  grid-row: 4;*/
/*}*/

/*.password {*/
/*  grid-column: 3/ span 1;*/
/*  grid-row: 4;*/
/*}*/

/*.prenom {*/
/*  grid-column: 2/ span 1;*/
/*  grid-row: 5;*/
/*}*/

/*.role {*/
/*  grid-column: 3/ span 1;*/
/*  grid-row: 5;*/
/*}*/

/*.presentation {*/
/*  grid-column: 2/ span 2;*/
/*  grid-row: 6;*/
/* }*/

/*.mat-form-field.presentation{*/
/*  height: 160px;*/

/*}*/

.container {
  padding-top: 136px;
  padding-bottom: 135px;
  background-image: url("../../../../assets/photoNB.jpeg");

}

.TAB {
  width: 840px;
  height: 400px;
  margin: 10px;
  border: 1px solid lightgrey;
}

.mat-drawer {
  font-size: 20px;
  color: #17657D;
}

.navbar {
  padding-top: 30px;
  width: 150px;
  text-align: center;
  background-color: #e5e5e5;
}

.photoAdmin {
  margin-top: 40px;
  heigth: 130px;
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
}

/*.mat-icon.editPhoto:before{*/
/*  border-radius: 100%;*/
/*  border: solid 1px black;*/
/*  background-color: white;*/
/*}*/

button{
  font-size: 12px;
}

.statutInactif{
  border: none;
  color: #17657D;
  font-size: 12px;
  padding-bottom: 30px;
}

.mat-form-field {
  margin: 20px;
  }

.grid{
  /*padding: 100px 20px 0px 20px;*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 80px);
}
h1{
  margin: 40px auto auto 20px;
}
.login {
  grid-column: 1/ span 1;
  grid-row: 2;
}

.password {
  grid-column: 2/ span 1;
  grid-row: 2;
}

.prenom {
  grid-column: 1/ span 1;
  grid-row: 3;
}

.role {
  grid-column: 2/ span 1;
  grid-row: 3;
}

.presentation {
  grid-column: 1/ span 2;
  grid-row: 4;
 }
