<div class="container" fxLayout="gt-md" fxLayoutAlign="center center">

<!--  <mat-drawer-container class="TAB">-->

<!--    <mat-drawer class="navbar" mode="side" opened>-->
<!--      <div class="bienvenue" *ngIf="admin">{{'Bienvenue ' + admin.prenom + ' !' | titlecase}}</div>-->
<!--      <img class="photoAdmin" [src]="admin.photo" alt="photo de l'administrateur">-->
<!--      &lt;!&ndash;      <mat-icon class="editPhoto">mode_edit</mat-icon>&ndash;&gt;-->

<!--      &lt;!&ndash;<div class="grid">&ndash;&gt;-->
<!--      &lt;!&ndash;  <img class="photoAdmin" [src]="admin.photo" alt="photo de l'administrateur">&ndash;&gt;-->
<!--      <div class="statutInactif" fxLayout fxLayoutAlign="center center">-->
<!--        <button mat-button type="submit" (click)="onSubmitUnactivedProfil()">Désactiver Profil</button>-->
<!--      </div>-->
<!--      <app-deconnexion></app-deconnexion>-->
<!--    </mat-drawer>-->
<app-card-admin>
  <div class="grid">
  <app-register></app-register>
  </div>
<!--    <div class="grid">-->
<!--      <h1>Modifier mon profil</h1>-->
<!--      <form [formGroup]="registerForm" (ngSubmit)="onSubmitForm()">-->
<!--        <div class="form-content">-->
<!--          <mat-form-field class="login" (click)="f.login.enable()">-->
<!--            <input type="text" matInput [placeholder]="!update && 'Entrez un login'"-->
<!--                   [value]="update && admin ? admin.login : '' " formControlName="login">-->
<!--            <mat-error *ngIf="f.login.errors && (f.login.dirty || f.login.touched)">-->
<!--              <span *ngIf="f.login.errors.required">Vous devez saisir un login</span>-->
<!--              <span *ngIf="f.login.errors?.loginExists">Ce login est déjà utilisé</span>-->
<!--            </mat-error>-->
<!--            &lt;!&ndash;        <input type="text" matInput [placeholder]=admin.login>&ndash;&gt;-->
<!--            <mat-icon matSuffix>mode_edit</mat-icon>-->
<!--          </mat-form-field>-->

<!--          <mat-form-field class="password" (click)="f.confirmPassword.enable() && f.password.enable()">-->
<!--            <input type="password" matInput [placeholder]="!update && 'Entrez un mot de passe'"-->
<!--                   [value]="update && admin ? admin.password : '' " formControlName="password">-->
<!--            <mat-error *ngIf="f.password.errors && (f.password.dirty || f.password.touched)">-->
<!--              <span *ngIf="f.password.errors.required">Vous devez saisir un mot de passe</span>-->
<!--              <span *ngIf="f.password.errors.minlenght">Votre mot de passe doit contenir 6 caractères au minimum</span>-->
<!--            </mat-error>-->
<!--            &lt;!&ndash;            <input type="text" matInput [placeholder]=admin.password>&ndash;&gt;-->
<!--            <mat-icon matSuffix>mode_edit</mat-icon>-->
<!--          </mat-form-field>-->

<!--          <mat-form-field class="passwordOk" (click)="f.confirmPassword.enable() && f.password.enable()">-->
<!--            <input type="password" matInput [placeholder]="!update && 'Vérifier le mot de passe'"-->
<!--                   [value]="update && admin ? admin.password : '' " formControlName="confirmPassword">-->
<!--            <mat-error *ngIf="f.confirmPassword.errors && (f.confirmPassword.dirty || f.confirmPassword.touched)">-->
<!--              <span *ngIf="f.confirmPassword.errors.required">Vous devez confirmer votre mot de passe</span>-->
<!--              <span *ngIf="f.confirmPassword.errors.passwordMismatch">Le mot de passe est différent</span>-->
<!--            </mat-error>-->
<!--              <mat-icon matSuffix>mode_edit</mat-icon>-->
<!--          </mat-form-field>-->

<!--          <mat-form-field class="prenom" (click)="f.prenom.enable()">-->
<!--            <input type="text" matInput [placeholder]="!update && 'Entrez votre prénom'"-->
<!--                   [value]="update && admin ? admin.prenom : '' " formControlName="prenom">-->
<!--            <mat-error *ngIf="f.prenom.errors && (f.prenom.dirty || f.prenom.touched)">-->
<!--              <span *ngIf="f.prenom.errors.required">Le champ prénom est requis</span>-->
<!--            </mat-error>-->
<!--            &lt;!&ndash;            <input type="text" matInput [placeholder]=admin.prenom>&ndash;&gt;-->
<!--            <mat-icon matSuffix>mode_edit</mat-icon>-->
<!--          </mat-form-field>-->

<!--&lt;!&ndash;          <mat-form-field class="role" (click)="f.role.enable()">&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="text" matInput [placeholder]="!update && 'Entrez votre prénom'"&ndash;&gt;-->
<!--&lt;!&ndash;                   [value]="update && admin ? admin.prenom : '' " formControlName="prenom">&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-error *ngIf="f.prenom.errors && (f.prenom.dirty || f.prenom.touched)">&ndash;&gt;-->
<!--&lt;!&ndash;              <span *ngIf="f.prenom.errors.required">Le champ prénom est requis</span>&ndash;&gt;-->
<!--&lt;!&ndash;            </mat-error>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;            <input type="text" matInput [placeholder]=admin.role>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-icon matSuffix>mode_edit</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-form-field>&ndash;&gt;-->

<!--          <mat-form-field appearance="outline" class="presentation" (click)="f.presentation.enable()">-->
<!--            <input type="text" matInput [placeholder]="!update && 'Entrez votre présentation'"-->
<!--                   [value]="update && admin ? admin.presentation : '' " formControlName="presentation">-->
<!--            <mat-error *ngIf="f.presentation.errors && (f.presentation.dirty || f.presentation.touched)">-->
<!--              <span *ngIf="f.presentation.errors.required">Le champ presentation est requis</span>-->
<!--            </mat-error>-->
<!--            &lt;!&ndash;            <input type="text" matInput [placeholder]=admin.presentation>&ndash;&gt;-->
<!--            <mat-icon matSuffix>mode_edit</mat-icon>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->

</app-card-admin>
<!--  </mat-drawer-container>-->
</div>
<!--</div>-->
<!----------------------------------------------------------------------------------------------------------------------->
<!--<app-profil>-->
<!--<div class="modifierProfil" fxLayout fxLayoutAlign="center center">-->
<!--  <mat-button class="detailProfil" [routerLink]="['detailProfil', admin.login]" >Modifier mon profil</mat-button>-->
<!--</div>-->
<!--  <app-card [link]="['/projet']" title="Voir mes projets" text="Mes projets"-->
<!--            photo="../../../assets/imagesProjet.jpg"></app-card>-->
<!--  <app-card [link]="['/messages']" title="Voir mes messages" text="Mes messages"-->
<!--            photo="../../../assets/imager_reception_messages_clients.png "></app-card>-->
<!--  <app-card [link]="['/clients']" title="Voir mes clients" text="Mes clients"-->
<!--            photo="../../../assets/imageclients.jpg "></app-card>-->
<!--  <app-card [link]="['/detailProfil', admin.login]" title="Ajouter administrateur" text="Ajouter admin"-->
<!--            photo="../../../assets/imageProfil.jpg "></app-card>-->
<!--</app-profil>-->
