/*fieldset{*/
/*  margin: 50px;*/
/*}*/
.container{
  margin-top: 50px;
}

legend{
  font-size: 18px;
  margin-left: 100px;
  padding: 0 10px 0 10px;
  color: grey;
}

.detailTAB {
  padding: 40px 30px 40px 30px;
}

.navbar {
  padding-top: 30px;
  width: 150px;
  text-align: center;
  background-color: #e5e5e5;
  /*opacity: 0.6;*/
}
.imagePhoto{
  height: 110px;
  width: 90px;
}

app-card {
  margin: 15px;
  max-width: 50%;
  max-height: 50%;
}

button {
  font-size: 12px;
}

.detailProfil {
  border: none;
  color: #17657D;
  font-size: 12px;
  margin-bottom: 30px;
}

.photoAdmin {
  margin-top: 40px;
  heigth: 130px;
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
}
