<!--<div class="container" fxLayoutAlign="center center">-->
<!--  -->
<!--<mat-drawer-container class="TAB">-->
<!--  <mat-drawer class="navbar" mode="side" opened></mat-drawer>-->
<!--</mat-drawer-container>-->
<!--</div>-->

<!--<app-card-admin></app-card-admin>-->

<div class="container">
  <mat-drawer-container class="TAB">
    <mat-drawer class="navbar" mode="side" opened>
      <div class="icon">
        <mat-icon class="mail" *ngIf="messages"
                  [matBadge]="messages.length" matBadgeOverlap="true" matBadgeSize="small">mail
        </mat-icon>
      </div>
    </mat-drawer>

    <div class="intro">
      <div class="navTab" fxLayout="" fxLayoutAlign="center center">
        <mat-tab-group>
          <mat-tab label="Messages">
            <app-message></app-message>
          </mat-tab>
          <mat-tab label="Projets">
<!--            <app-admin-projet></app-admin-projet>-->
          </mat-tab>
          <mat-tab label="Clients">
<!--            <app-client></app-client>-->
          </mat-tab>
        </mat-tab-group>
      </div>

    </div>
  </mat-drawer-container>


  <!--  <div class="container" fxLayout="gt-md" fxLayoutAlign="center center">-->
  <!--</div>-->
  <!--        <div class="bienvenue" *ngIf="admin">{{'Bienvenue ' + admin.prenom + ' !' | titlecase}}</div>-->
  <!--       <img class="photoAdmin" [src]="admin.photo" alt="photo de l'administrateur">-->
  <!--        <img class="photoAdmin" src="../../../assets/profil-avatar-femme-icone-ronde_24640-14042.jpg">-->
  <!--             [src]="admin.photo" alt="photo de l'administrateur">-->
  <!--    <div class="modifierProfil" fxLayout fxLayoutAlign="center center">-->
  <!--      <button mat-button class="detailProfil" [routerLink]="['/detailProfil', admin.login]">Voir mon profil</button>-->
  <!--    </div>-->
