<div class="container">
  <mat-drawer-container class="TAB">
    <mat-drawer class="navbar" mode="side" opened  fxHide.sm="true" fxHide.xs="true">
      <div class="header">
        <mat-icon class="mail" *ngIf="messages"
                  [matBadge]="messages.length" matBadgeOverlap="true" matBadgeSize="small">mail
        </mat-icon>
        <mat-icon class="settings" [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">settings</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/modifProfil/:login">Modifier Profil</button>
          <button mat-menu-item routerLink="/ajouterAdmin/:login">Créer nouveau Profil</button>
        </mat-menu>
        <div class="admin">
          {{admin.login | titlecase}}
        </div>
        <img class="photoAdmin" [src]="admin.photo" alt="photo de l'administrateur">
      </div>
    </mat-drawer>

    <mat-toolbar class="menuXs" mat-elevation-z1 fxHide.gt-sm="true">
      <img class="photoAdmin" [src]="admin.photo" alt="photo de l'administrateur">
      <div class="admin" fxLayoutAlign="start center">
        {{admin.login | titlecase}}
      </div>
      <div class="icons" fxLayoutAlign="end center">
        <mat-icon class="settings"[matMenuTriggerFor]="menu" aria-label="icon-button with a menu">settings</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/modifProfil/:login">Modifier Profil</button>
          <button mat-menu-item routerLink="/ajouterAdmin/:login">Créer nouveau Profil</button>
        </mat-menu>
        <mat-icon class="mail" *ngIf="messages"
                  [matBadge]="messages.length" matBadgeOverlap="true" matBadgeSize="small">mail
        </mat-icon>
      </div>
    </mat-toolbar>

    <div class="intro">
      <mat-tab-group fxLayout="column" fxLayoutAlign="center none">
        <mat-tab label="Messages" class="listMessages">
          <app-message></app-message>
        </mat-tab>
        <mat-tab label="TAB Projets" class="TABProjets">
          <app-admin-projet></app-admin-projet>
        </mat-tab>
        <mat-tab label="Clients">
          <app-client></app-client>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-drawer-container>
</div>


