<div class="container" fxLayout="gt-md" fxLayoutAlign="center center">
  <mat-drawer-container class="TAB">
    <mat-drawer class="navbar" mode="side" opened>
      <div class="bienvenue" *ngIf="admin">{{'Bienvenue ' + admin.prenom + ' !' | titlecase}}</div>
     <img class="photoAdmin" [src]="admin.photo" alt="photo de l'administrateur">-->
      <div class="deconnexion" fxLayout fxLayoutAlign="center center">
        <button mat-button type="submit" (click)="onSubmit()">Se déconnecter</button>
      </div>
    </mat-drawer>
    <div class="detailTAB" fxLayout.lt-md="row" fxLayoutAlign="center center">
      <app-card [link]="['/projet']" title="Voir mes projets" text="Mes projets"
                photo="../../../assets/imagesProjet.jpg"></app-card>
      <app-card [link]="['/messages']" title="Voir mes messages" text="Mes messages"
                photo="../../../assets/imager_reception_messages_clients.png "></app-card>
      <app-card [link]="['/clients']" title="Voir mes clients" text="Mes clients"
                photo="../../../assets/imageclients.jpg "></app-card>
      <app-card [link]="['/detailProfil', admin.login]" title="Voir mon profil" text="Mon profil"
                photo="../../../assets/imageProfil.jpg "></app-card>
    </div>
  </mat-drawer-container>
</div>


