<!--<div ng-app="searchBarApp">-->
<!--  <div ng-controller="searchCtrl as ctrl">-->
<!--    <mat-toolbar>-->
<!--      &lt;!&ndash; Pre-Search Bar &ndash;&gt;-->
<!--      <div id="search-bar" ng-show="ctrl.showPreSearchBar()" class="mat-toolbar-tools">-->

<!--        <h2>Search Bar App</h2>-->
<!--        <span flex></span>-->

<!--        &lt;!&ndash; Search button (initiates search) &ndash;&gt;-->
<!--        <button mat-button ng-click="ctrl.initiateSearch()">-->
<!--          <mat-icon>search</mat-icon>-->
<!--          <span>Search</span>-->
<!--        </button>-->

<!--      </div>-->

<!--      &lt;!&ndash; Search bar &ndash;&gt;-->
<!--      <div ng-show="ctrl.showSearchBar()" class="mat-toolbar-tools search-bar">-->

<!--        <button mat-button class="mat-icon-button" ng-click="ctrl.submit()">-->
<!--          <mat-icon>search</mat-icon>-->
<!--        </button>-->

<!--        &lt;!&ndash; Input Text &ndash;&gt;-->
<!--&lt;!&ndash;        <input>&ndash;&gt;-->
<!--          &lt;!&ndash; <label for="search">Search</label> &ndash;&gt;-->
<!--          <input id="search-input" type="text" ng-model="search" />-->
<!--&lt;!&ndash;        </input>&ndash;&gt;-->

<!--        <button mat-button class="mat-icon-button" ng-click="ctrl.endSearch()">-->
<!--          <mat-icon>close</mat-icon>-->
<!--        </button>-->
<!--      </div>-->

<!--    </mat-toolbar>-->
<!--  </div>-->
<!--</div>-->
