  <fieldset fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="flex-start">
    <legend>MESSAGES</legend>
    <div class="contains">
      <div class="close" fxLayoutAlign="end">
        <mat-icon class="close" onclick="history.back()">close</mat-icon>
      </div>
    <mat-list *ngFor="let message of messages">
      <mat-list-item>{{message.date}}</mat-list-item>
      <mat-list-item>{{message.objet}}</mat-list-item>

<!--      <div class="delete"fxLayoutAlign="end">-->
<!--        <mat-icon class="delete"  (click)="onSubmitDelete()">delete</mat-icon>-->
<!--      </div>-->
      <mat-icon class="more" (click)="openDialog(message)">more_vert</mat-icon>
<!--      <mat-list-item>{{message.contenu}}</mat-list-item>-->
      <mat-divider></mat-divider>
    </mat-list>
    </div>
  </fieldset>

