.grid{
  padding:80px 170px 40px 170px;
  margin: 0 80px 0 80px;
  display: flex;
  justify-content: flex-start;
  background-image: url("../../assets/images.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
fieldset{
  background-color: white;
}
legend{
  font-size: 30px;
  margin: 0 40px 0 10px;
  padding: 0 10px 0 10px;
}

p{
  padding: 30px 35px 0 30px;
  font-size: 16px;
  line-height: 25px;

}
form{
  margin: 0 40px 30px 40px;
}

mat-form-field{
  margin: 20px 20px 0 20px ;
  width: 45%;
  height: 40px;
}

.objet, .message{
  width: 94%;
}

button{
 margin-top: 20px;
  background-color: black;
  opacity: 80%;
}

a{
  color: white;
  text-decoration: none;
}


