/*fieldset{*/
/*  margin: 50px;*/
/*}*/

/*legend{*/
/*  font-size: 18px;*/
/*  margin: 0 40px 0 10px;*/
/*  padding: 0 10px 0 10px;*/
/*  color: grey;*/
/*}*/

contains {

}

.mat-icon.close {
  font-size: 20px;
}
.mat-header-cell, .mat-cell {
  margin: 10px;
  padding: 5px;
}

.mat-cell.delete, .mat-cell.detail {
  text-align: center;
}

.vu{
justify-content: center;
}

.mat-icon.more {
  font-size: 22px;
}

