.mat-list{
  margin: auto;
}

.mat-list-item {
  margin: 0;
  height: 20px;
  padding: 0;
}

.mat-pseudo-checkbox{
  background-color:#17657D;
}

mat-icon{

}
/*hr{*/
/*  color: red;*/
/*}*/
/*fieldset{*/
/*  margin: 50px;*/
/*}*/

/*legend{*/
/*  font-size: 18px;*/
/*  margin: 0 40px 0 10px;*/
/*  padding: 0 10px 0 10px;*/
/*  color: grey;*/
/*}*/

/*contains {*/
/*!*margin-top: 100px;*!*/
/*}*/

/*.mat-icon.close {*/
/*  font-size: 20px;*/
/*}*/
/*.mat-header-cell, .mat-cell {*/
/*  margin: 10px;*/
/*  padding: 5px;*/
/*}*/

/*.mat-cell.delete, .mat-cell.detail {*/
/*  text-align: center;*/
/*}*/

/*.vu{*/
/*justify-content: center;*/
/*}*/

/*.mat-icon.more {*/
/*  font-size: 22px;*/
/*}*/

