<div class="contains">
  <!--  <div class="listeMessages" fxLayout="center center" fxLayoutAlign="space-between">-->

  <div class="message" *ngFor="let message of messages">

    <div class="newMessage" *ngIf="!message.vu"(click)="updateMessage(message)" onclick="this.hidden=true">
      <img class="new" src="../../assets/new-512.jpg">
    </div>
<!--      <button class="lu" *ngIf="!message.vu" (click)="updateMessage(message)" onclick="this.hidden=true">Lu</button>-->


    <mat-icon class="delete" (click)="openDialogDelete(message)">delete</mat-icon>

    <h3>{{message.date | date:"dd/MM/yyyy"}}</h3>
    <h4>{{message.objet | titlecase}}</h4>
    <p>{{message.contenu | titlecase}}</p>

  </div>
</div>
<!--</div>-->

