mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  color: white;
  padding-left: 0;
  }



.navigation{
  text-align: right;
  justify-content: right !important;
}

.mat-button{
}

.logo{
  height: 64px;
  padding-left: 0;
}

.nav {
  width: 100%;
  height: 100%;
}

.mat-title, .mat-small {
  cursor: pointer;
  color: black;
  font-size: 16px;
 }

/*.mat-icon-button, .mat-icon {*/
/*  padding-left: 10px;*/
/*}*/


