.mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  background: #206679;
  }

.navigation {
  justify-content: right;
  margin-left: auto;
  }

.logo img{
  height: 50px;
  font-weight: bold;
  float: left;
  }

.mat-title, .mat-small {
  cursor: pointer;
  color: white;
  font-size: 16px;
 }



