<mat-toolbar fxHide.xs="true" class="card mat-elevation-z6">
    <a class="logo">
    <img src="../../../assets/Logo%204%20(blanc).png" alt="" fxLayoutAlign="start center">
    </a>

  <div fxLayout="row" fxLayout.gt-sm="flex" class="navigation" fxLayoutAlign="center center" *ngIf="!jwtService.isLogged()">

  <a mat-button routerLink="/">
   <span class="mat-title" [ngClass.lt-sm]="'mat-small'">Accueil</span>
    </a>
    <a mat-button routerLink="/prestation">
      <span class="mat-title" [ngClass.lt-sm]="'mat-small'">Prestations</span>
    </a>
    <a mat-button routerLink="/projet">
      <span class="mat-title" [ngClass.lt-sm]="'mat-small'">Projets</span>
    </a>
    <a mat-button routerLink="/contact">
      <span class="mat-title" [ngClass.lt-sm]="'mat-small'">Contact</span>
    </a>
     <a mat-button routerLink="/admins">
       <span class="mat-title" [ngClass.lt-sm]="'mat-small'">Connexion</span>
     </a>
<!-- <div class="search-container">-->
<!--    <form action="/">-->
<!--      <input type="text" placeholder="Search.." name="search">-->
<!--      <button type="submit"><i class=""></i></button>-->
<!--    </form>-->
<!--  </div>-->
   </div>
</mat-toolbar>

<mat-toolbar class="mat-elevation-z6" fxHide.gt-xs="true">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
    <mat-icon>menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/">Accueil</button>
      <button mat-menu-item routerLink="/prestations">Prestations</button>
      <button mat-menu-item routerLink="/projets">Projets</button>
      <button mat-menu-item routerLink="/contact">Contact</button>
      <button mat-menu-item routerLink="/connexion">Connexion</button>
    </mat-menu>
  </button>
</mat-toolbar>

