<div class="container">
<mat-toolbar   fxHide.xs="true" class="mat-elevation-z2">
    <a class="logo">
      <img src="../../../assets/logo%20PNG%20gentiane%20nacré%20.png" alt="" routerLink="/admins"><h1>Expert dessin en bâtiment</h1>
    </a>
<div class="navigation">
  <div class="mat-nav">
    <a mat-button routerLink="/">
      <span class="mat-title" [ngClass.lt-sm]="'mat-small'">Accueil</span>
    </a>
    <a mat-button href="#prestation">
      <span class="mat-title" [ngClass.lt-sm]="'mat-small'">Prestations</span>
    </a>
    <a mat-button routerLink="/projet">
      <span class="mat-title" [ngClass.lt-sm]="'mat-small'">Projets</span>
    </a>
    <a mat-button routerLink="/contact">
      <span class="mat-title" [ngClass.lt-sm]="'mat-small'">Contact</span>
    </a>

    <a mat-button *ngIf="jwtService.isLogged()"routerLink="/profil">
      <span class="mat-title" [ngClass.lt-sm]="'mat-small'">Admin</span>
    </a>

    <a mat-button *ngIf="jwtService.isLogged()" (click)="onSubmit()">
      <mat-icon class="deconnexion">power_settings_new</mat-icon>
    </a>
  </div>
</div>
</mat-toolbar>
  </div>


<mat-toolbar class="mat-elevation-z2" fxHide.gt-xs="true">
  <a class="logo">
    <img src="../../../assets/logo%20PNG%20gentiane%20nacré%20.png" alt="" routerLink="/admins"><h1>Expert dessin en bâtiment</h1>
  </a>
  <div class="menuBurger">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
    <mat-icon >menu</mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/">Accueil</button>
      <button mat-menu-item><a class="prestation" href="#prestation">Prestations</a></button>
      <button mat-menu-item routerLink="/projet">Projets</button>
      <button mat-menu-item routerLink="/contact">Contact</button>
      <button mat-menu-item *ngIf="jwtService.isLogged()" routerLink="/profil">Admin</button>
      <button mat-menu-item *ngIf="jwtService.isLogged()" (click)="onSubmit()">Deconnexion</button>
    </mat-menu>
  </button>
  </div>
</mat-toolbar>
