<div class="card mat-elevation-z2">
  <mat-card-content>
    <div class="close" fxLayoutAlign="end">
      <mat-icon class="close" (click)="closePopUp()">close</mat-icon>
    </div>
    <form [formGroup]="formBody">
      <mat-form-field class="nom" (click)="enable('nom')">
        <input type="text" matInput [placeholder]="!data.update && 'nom'" formControlName="nom">
        <mat-hint>Nom</mat-hint>
      </mat-form-field>

      <mat-form-field class="prenom" (click)="enable('prenom')">
        <input type="text" matInput [placeholder]="!data.update && 'prenom'" formControlName="prenom">
        <mat-hint>Prénom</mat-hint>
      </mat-form-field>

      <mat-form-field class="adresse" (click)="enable('adresse')">
        <input type="text" matInput [placeholder]="!data.update && 'adresse'" formControlName="adresse">
        <mat-hint>Adresse</mat-hint>
      </mat-form-field>

      <mat-form-field class="codePostal" (click)="enable('codePostal')">
        <input type="text" matInput [placeholder]="!data.update && 'codePostal'" formControlName="codePostal">
        <mat-hint>Code postal</mat-hint>
      </mat-form-field>

      <mat-form-field class="ville" (click)="enable('ville')">
        <input type="text" matInput [placeholder]="!data.update && 'ville'" formControlName="ville">
        <mat-hint>Ville</mat-hint>
      </mat-form-field>

      <mat-form-field class="telephone" (click)="enable('telephone')">
        <input type="text" matInput [placeholder]="!data.update && 'telephone'" formControlName="telephone">
        <mat-hint>Téléphone</mat-hint>
      </mat-form-field>

      <mat-form-field class="email" (click)="enable('email')">
        <input type="text" matInput [placeholder]="!data.update && 'email'" formControlName="email">
        <mat-hint>Email</mat-hint>
      </mat-form-field>

      <mat-form-field class="refDevis" (click)="enable('refDevis')">
        <input type="text" matInput [placeholder]="!data.update && 'refDevis'" formControlName="refDevis">
        <mat-hint>Ref Devis</mat-hint>
      </mat-form-field>

      <mat-form-field class="refFacture" (click)="enable('refFacture')">
        <input type="text" matInput [placeholder]="!data.update && 'refFacture'" formControlName="refFacture">
        <mat-hint>Ref Facture</mat-hint>
      </mat-form-field>

      <div fxLayout fxLayoutAlign="center center">
                 <button mat-raised-button (click)="onSubmitUpdate()" *ngIf="data.update">Modifier</button>
         </div>

      <div fxLayout fxLayoutAlign="center center">
          <button mat-raised-button (click)="onSubmitCreate()" *ngIf="!data.update">Créer</button>
      </div>
    </form>
  </mat-card-content>
</div>
