<div class="card mat-elevation-z2" fxLayoutAlign="center center">
  <mat-card-content>
    <div class="close" fxLayoutAlign="end">
      <mat-icon class="close" (click)="closePopUp()">close</mat-icon>
    </div>
    <form [formGroup]="formBody">
      <mat-form-field class="intitule" (click)="enable('intitule')">
        <input type="text" matInput [placeholder]="!data.update && 'intitule'" formControlName="intitule">
        <mat-hint>Nom du projet</mat-hint>
      </mat-form-field>

      <mat-form-field class="description" (click)="enable('description')">
        <input type="text" matInput [placeholder]="!data.update && 'description'" formControlName="description">
        <mat-hint>Description</mat-hint>
      </mat-form-field>

      <mat-form-field class="type" (click)="enable('type')">
        <mat-label>Type du projet</mat-label>
        <mat-select [compareWith]="compareFunction" formControlName="type">
          <mat-option *ngFor="let type of typesProjets" [value]="type">
            {{type.libelle}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!--ajout des photos-->
      <button mat-button (click)="addPhotoForm()"><mat-icon>add</mat-icon>Ajouter une photo</button>
      <div *ngFor="let photoForm of photoFormArray.controls; index as i">
        <mat-form-field>
          <mat-label>Catégorie</mat-label>
          <mat-select [formControl]="photoForm.get('categorie')">
            <mat-option *ngFor="let categorie of photosCategories" [value]="categorie">
              {{categorie}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input matInput type="text" [formControl]="photoForm.get('nom')">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Url de la photo</mat-label>
          <input matInput type="text" [formControl]="photoForm.get('lien')">
        </mat-form-field>
        <button mat-icon-button (click)="removePhotos(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <button mat-button *ngIf="!data.update" (click)="onSubmitCreate()">Enregistrer</button>
      <button mat-button *ngIf="data.update" (click)="onSubmitUpdate()">Enregistrer</button>

    </form>
  </mat-card-content>
</div>




