/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; scroll-behavior: smooth}
body { margin: 0; font-family:'Helvetica', sans-serif, "Helvetica Neue", sans-serif}


.error-dialog {
  background-color: white;
  color: #721C24;
}
.success-dialog {
  background-color: white;
  color: #175826;
}
