<fieldset>
  <legend>Profil</legend>
  <div class="contains">
    <div class="close" fxLayoutAlign="end">
      <mat-icon class="close" onclick="history.back()">close</mat-icon>
    </div>
    <div class="grid">
      <form [formGroup]="formBody">
        <mat-form-field appearance="standard">
          <input type="text" matInput formControlName="prenom">
<!--          <mat-icon matSuffix (click)="enable('prenom')">mode_edit</mat-icon>-->
        </mat-form-field>

        <mat-form-field appearance="standard">
          <input type="text" matInput formControlName="login">
<!--          <mat-icon matSuffix (click)="enable('login')">mode_edit</mat-icon>-->
        </mat-form-field>

        <mat-form-field appearance="standard">
          <input type="text" matInput formControlName="password">
<!--          <mat-icon matSuffix (click)="enable('password')">mode_edit</mat-icon>-->
        </mat-form-field>

        <mat-form-field appearance="standard">
          <input type="text" matInput formControlName="presentation">
<!--          <mat-icon matSuffix (click)="enable('presentation')">mode_edit</mat-icon>-->
        </mat-form-field>

        <mat-form-field appearance="standard">
          <input type="photo" matInput formControlName="photo">
<!--          <mat-icon matSuffix (click)="enable('photo')">mode_edit</mat-icon>-->
        </mat-form-field>
      </form>

      <div fxLayout fxLayoutAlign="center center">
<!--        <form (ngSubmit)="onSubmitUpdate()">-->
          <button mat-raised-button (click)="openDialog(admin)"color="primary" type="submit">Modifier profil</button>
<!--        </form>-->
      </div>
    </div>
  </div>
</fieldset>
