<mat-carousel proportion="50" [autoplay]="true" [loop]="true"
              timings="250ms ease-in"
              interval="5000"
              color="accent">
      <mat-carousel-slide *ngFor="let photo of photos" [image]="photo.lien"></mat-carousel-slide>
</mat-carousel>


<div class="presentation" fxLayout="row" fxLayoutAlign="space-around center">
  <div class="grid" *ngFor="let admin of admin">
    <img mat-card-image [src]="admin.photo" [alt]="'photo de '+admin.login">
      <div class="detailPresentation">
      <p>{{admin.presentation}}</p></div>  </div>
</div>


